body{
  background-color: #111518;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #71506f;
  text-align: center;
  height: 35px;
}

li {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin: 9px 30px 0px 30px;
  position: sticky;
}

li a {
  text-decoration: none;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 14px 16px;

}

li a:hover {
  color: #71506f;
  background-color: #FFF;
}

h1{
  color: #81aca9;
  font-family: 'Helvetica', sans-serif;
  margin: 0px;
  padding: 20px 10px 15px 10px;

}

p {
  color: #fff;
  font-family: 'Helvetica', sans-serif;
  padding: 20px 10px 50px 10px;
}

a {
  color: #fff;
}

.contentimage{
  padding: 0px 20px;
  width: 95%;
}

.topbanner{
  height: 200px;
  background-image: url('images/bandphotobanner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px 0px;
}

.navigation{
  margin: 0px 0px;
}

.content{
  width: 90%;
  margin: 0px auto;
  padding: 0px 20px 0px 20px;
  background-color: #000;
}

.contentwrapper
{
  background-color: #111518;
  margin: 0px 0px;
}

.post{
  border: 0 0 2px 0;
  border-style: none none solid none;
  border-color: #71506f;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
